* {
  padding: 0;
  margin: 0;
  //outline: 2px solid red;
  box-sizing: border-box;
  font-family: 'Lato', Overpass, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  //font-size: 18px;
  background: $white;
}

button {
  transition: all 100ms ease-out 20ms;
  font-size: 1rem;
  @include respond-desktop {
    &:hover {
      filter: contrast(1.5);
      cursor: pointer;
    }
  }
}

//NAV
nav {
  .nav-container {
    .nav-top {
      position: fixed;
      z-index: 100;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1.2rem;
      background: #fff;
      
      .nav-toggler {
        @include respond-desktop {
          display: none;
        }
      }
    }
    .nav-links {
      position: fixed;
      top: -100%;
      left: 5%;
      width: 90vw;
      background: #fff;
      border-radius: 0.4rem;
      box-shadow: 3px 3px 100px $dark-blue;
      transition: top 300ms ease-out 80ms;
      @include respond-desktop {
        z-index: 100;
        position: fixed;
        top: 0;
        left: 50%;
        width: 50%;
        box-shadow: none;
        margin: 0 auto;
      }
      .nav-links-container {
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin: 0 auto;
        @include respond-desktop {
          flex-direction: row;
          justify-content: space-between;
        }
        a {
          padding: 0.9rem 0;
          text-decoration: none;
          font-size: 1.25rem;
          color: $dark-blue;
          @include respond-desktop {
            padding: 1rem 1.25rem;
            color: $grey;
            transition: border 50ms ease-out 50ms;
            &:hover {
              border-bottom: 5px solid $lime-green;
            }
          }
        }
      }
    }
  }
}

//HEADER
header {
  .header-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 3.5rem;
    @include respond-desktop {
      flex-direction: row-reverse;
    }

    .header-image {
      width: 100%;
      height: 45vh;
      background: url('images/image-mockups.png'),
        url('images/bg-intro-mobile.svg');
      background-repeat: no-repeat;
      background-size: 90%, 100%;
      background-position: 5vw -15vh, 0 -10vh;
      @include respond-desktop {
        height: 600px;
        padding-top: 10rem;
        background: url('images/image-mockups.png'),
        url('images/bg-intro-mobile.svg');
        background-repeat: no-repeat;
        background-size: 65% 120%, 150% 100%;
        background-position: 10vw -12vh, 0vw 8vh;
      }
    }

    .header-intro {
      @include respond-desktop {
        padding: 8rem 5rem 5rem 2rem;
      }
      .intro-heading {
        width: 80%;
        margin: 0 auto;
        padding: 3rem 0 1rem 1rem;
        @include respond-desktop {
         margin: 0;
         width: 100%;
        }
        h1 {
          font-size: 2.15rem;
          color: $dark-blue;
        }
      }
      .intro-text {
        width: fit-content;
        margin: 0 auto;
        padding: 0.4rem 0 1rem 1rem;
        p {
          color: $grey;
          @include respond-desktop {
            font-size: 1.15rem;
            line-height: 1.85rem;
            width: 80%;
          }
        }
      }
      .intro-btn {
        padding: 1.2rem 0;
        width: fit-content;
        margin: 0 auto;
        @include respond-desktop {
          margin: 0;
        }
        button {
          padding: 0.55rem 2.15rem;
          border-radius: 2rem;
          color: #fff;
          font-size: 1.24rem;
          font-weight: 600;
          outline: none;
          border: none;
          background: linear-gradient(90deg, $lime-green, $bright-blue);

        }
      }
    }
  }
}

//MAIN
/*Choose section*/
main {
  .choose-container {
    padding-bottom: 2rem;
    background: $light-grey;
    .choose-intro {
      width: 100%;
      padding: 3rem 0 1.2rem 0;
      @include respond-desktop {
        padding: 3rem 0 1.2rem 4rem;
      }
      h2 {
        color: $dark-blue;
        width: fit-content;
        margin: 0 auto;
        @include respond-desktop {
          margin: 0;
        }
      }
      p {
        color: $grey;
        width: 90%;
        margin: 0 auto;
        padding: 1rem 0;
        text-align: center;
        @include respond-desktop {
          margin: 0;
          width: 40%;
          text-align: justify;
        }
      }
    }

    .choose-icons {
      width: 100%;
      @include respond-desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 3rem 0 1.2rem 4rem;
      }
      div {
        width: inherit;
        padding: 1.5rem 0;
        img {
          display: block;
          width: fit-content;
          margin: 0 auto;
          @include respond-desktop {
            margin: 0;
          }
        }
        h3 {
          color: $dark-blue;
          width: fit-content;
          margin: 0 auto;
          padding: 1.2rem 0;
          font-size: 1.5rem;
          font-weight: 600;
          @include respond-desktop {
            margin: 0;
          }
        }
        p {
          width: 90%;
          margin: 0 auto;
          color: $grey;
          text-align: center;
          @include respond-desktop {
            margin: 0;
            text-align: justify;
          }
        }
      }
    }
  }

  //articles section
  .articles-container {
    width: 100%;
    padding: 4rem 0;
    @include respond-desktop {
      padding: 4rem;
    }
    .articles-header {
      width: fit-content;
      margin: 0 auto;
      padding: 0.5rem 0;
      @include respond-desktop {
        margin: 0 0 0 0.5rem;
      }
      h2 {
        color: $dark-blue;
      }
    }
    .article-items {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include respond-desktop {
        flex-direction: row;
      }
      .article-item {
        width: 90%;
        margin: 1rem auto;
        background: $whiter;
        border-radius: 0.5rem;
        @include respond-desktop {
          width: 100%;
          margin: 0.5rem;
        }
        .article-image {
          width: 100%;
          img {
            width: inherit;
            transition: all 250ms ease-out 25ms;
            @include respond-desktop {
              &:hover {
                transform: scale(0.98);
              }
            }
          }
        }
        .article-text {
          width: 85%;
          margin: 0.8rem auto;
          small {
            color: $grey;
          }
          h3 {
            color: $dark-blue;
            padding: 0.6rem 0;
            font-size: 1.25rem;
            font-weight: 600;
            transition: color 50ms ease-out 20ms;
            @include respond-desktop {
              &:hover {
                cursor: pointer;
                color: $lime-green;
              }
            }
          }
          p {
            color: $grey;
            font-size: 1rem;
            line-height: 1.5rem;
            padding-bottom: 1.8rem;
          }
        }
      }
    }
  }
}

//Footer
footer {
  .footer-container {
    width: 100%;
    background: $dark-blue;
    padding: 1.5rem 0;
    @include respond-desktop {
      display: flex;
      flex-direction: row;
    }
    div {
      // width: fit-content;
      margin: 1rem auto;
    }
    .footer-logo {
      width: 40%;
      margin-bottom: 1.5rem;
      @include respond-desktop {
        width: 100%;
      }
      img {
        width: 100%;
      }
    }
    .social-icons {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 1.5rem;
      @include respond-desktop {
        width: 100%;
      }
      img {
        width: 13%;
        @include respond-desktop {
          cursor: pointer;
          width: 15%;
        }
      }
    }
    .footer-div-1 {
      outline: none;
    }
    .footer-div-2,
    .footer-div-3,
    .footer-div-4 {
      width: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      a {
        display: block;
        width: fit-content;
        color: #fff;
        font-size: 1.15rem;
        padding: 0.35rem 0;
        text-decoration: none;
        margin: 0 auto;
        transition: color 50ms ease-out 20ms;
        @include respond-desktop {
          &:hover {
            color: $lime-green;
          }
        }
      }
    }
    .footer-div-3 {
      margin-bottom: 2.5rem;
    }
    .footer-div-4 {
      button {
        padding: 0.65rem;
        border-radius: 2rem;
        color: #fff;
        font-size: 1.15rem;
        font-weight: 600;
        outline: none;
        border: none;
        background: linear-gradient(90deg, $lime-green, $bright-blue);
      }
      p {
        color: $grey;
        font-size: 1rem;
        padding: 1rem 0 0.2rem 0;
      }
    }
  }
}
